@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --color-1: #00ecff;
    --color-2: #0a1a27;
    --color-3: #768aa5;
    --color-4: #d8d8d8;
    --color-5: #96afcf;
    font-family: 'Fira Code';
}

h1,h2,h3,h4 {
    font-family: 'Google Sans';
    color: var(--color-4);
    font-size: 1.5rem;
}
a {
    color: var(--color-1);
}
::selection {
    background: var(--color-2);
    color: var(--color-1);
}
#terminal-text {
    display: flex;
    height: calc(180px);
    width: 50%;
}
main {
    max-width: 100%;
}
.terminal {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'JetBrains Mono';
}
.terminal::before {
    content: '>> ';
}
.terminal::after {
    content: '_';
}
.remove-underline::after {
    content: '.';
}
.text-term-color-1 {
    font-family: 'JetBrains Mono';
    color: var(--color-1);
}
.no-bold {
    font-weight: normal;
}
body {
    background: linear-gradient(-45deg, var(--color-2), #03070a, #071018, #071018, #03070a, var(--color-2));
    background-size: 400% 400%;
    color: var(--color-3);
    animation: moverBackg 10s ease infinite alternate;
}

@keyframes moverBackg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.banner {
    display: flex;
    padding-block: 90px;
    padding-inline: 15%;
    width: 100%;
}


.banner h1 {
    margin-top: 25px;
    font-size: calc(4vw + 14px);
    font-family: 'Google Sans';
    line-height: calc(5vw, + 5px);
    color: var(--color-4);
    font-weight: 900;
}
.banner h2 {
    font-size: calc(4vw + 14px);
    font-family: 'Google Sans';
    line-height: calc(5vw, + 5px);
    font-weight: 900;
    color: var(--color-5);
    margin-bottom: 40px;
}
.perfil-git-hub {
    width: min-content;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.07rem;
    margin-top: 25px;
    font-family: 'Chakra Petch';
    border: 1px solid var(--color-1);
}
.banner a {
    text-decoration: none;
    width: max-content;
    display: block;
    padding: 10px 25px;
}

.sobre {
    width: 100%;
    display: flex;
}
.sobre .container {
    width: 70%;
    margin-inline: auto;
    border: 1px solid var(--color-5);
    border-radius: 20px;
    padding: 20px;
}
.sobre .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sobre img {
    width: 20vw;
    border-radius: 20px;
}
@media only screen and (max-width: 1300px) {
    .terminal {
        font-size: 0.85rem;
    }
    #terminal-text {
        width: 70%;
    }
}
@media only screen and (max-width: 800px) {
    #terminal-text {
        height: 200px;
        width: 100%;
    }
    body {
        font-size: 0.9rem;
    }
    .banner h1 {
        font-size: 3rem;
    }
    .banner h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .banner h1 {
        font-size: 2.5rem;
    }
    .banner h2 {
        font-size: 2.5rem;
    }
}